<h1 class="welcome">Contact CBC</h1>
<section class="contactBox">
<h3 class="contact1">Chicago Bridge Construction co.</h3>
<p class="contact2">1423 W 38th St
Chicago, IL 60609<p>
<p class="contract2">312-539-1592<p>
<p class="contract2"><u>PaulSmith@CBC.com</u></p>
</section>
