<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CPB Bridge Construction</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Wire+One|Cinzel+Decorative|Pathway+Gothic+One|Black+Ops+One|Orbitron|Marvel' rel='stylesheet' type='text/css'>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/apps.js"></script>

    </script>

  </head>
  <body>

    <header>
      <img class="headerPhoto" src="http://i.imgur.com/x9cSRoZ.png"/>
        <h1 class ="compName">Chicago Bridge Construction co.</h1>
      <h1 class="compName1">CBC</h1>

      <div class="navBar">
        <nav class="nav">
          <a href="/">Home</a>
          <a href="#">/</a>
          <a href="/about">About</a>
          <a href="#">/</a>
          <a href="/contact">Contact</a>
          <a href="#">/</a>
          <a href="/services">Services</a>
        </nav>
    </div>
</header>
<!-- <hr class="orangeLine" size=1 color=#FF8000 > MAYBE? -->

  <hr size=2 color=black>
    <%= yield %>
  <hr size=2 color=black>
  <footer class="footTag">

<img class="footPhoto" src="http://i.imgur.com/3YUvKpi.png" alt="" />
    <h1 class="footCompname">CBC</h1>
    <h3 class="footClass">An equal opportunity employer<br> &copy2015 CPB Chicago Bridge Construction co. All rights reserved</h3>

    </footer>
  </body>
</html>
